body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .home-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    background: linear-gradient(135deg, #8f9792, #26695D);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 480px) {
    .home-container {
      max-width: 400px;
      margin: 100px auto;
      padding: 50px;
      background: linear-gradient(135deg, #8f9792, #26695D);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    @media (max-width: 480px) {
      .app {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 100px auto;
        padding: 50px;
        background: linear-gradient(135deg, #8f9792, #26695d);
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    
      h1 {
        font-size: 28px;
        text-align: center;
      }
    
      h3 {
        text-align: center;
        font-size: 18px;
      }
    }
  }


  

  